body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background:linear-gradient(to left , #f3f3f3,#cececf); */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    max-width: 100%;
    margin: 3em auto;
    /* height: 400px; */
    /* border: 1px solid red; */
    box-shadow: 0px 0px 3px grey;
    border-radius: 4px;
    padding: 1rem;
}

.input-area{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-area input{
    width: 78%;
    padding: 8px;
    outline: none;
    border: none;
    /* background-color: #f9f9f9; */
    /* border: 1px solid red; */
    background: transparent;
    /* box-shadow: 0px 0px 3px grey; */
    border-bottom: 1px solid #222;
    font-size: 16px;
    color: #222;
}

.input-area button{
    padding: 8px 12px;
    background-color:#222;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
}

.display-area{
    width: 100%;
    margin: 1rem auto 1rem auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid red; */
}
.display-area h2{
    margin-bottom: 10px;
    font-size: 2rem;
}
#city-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 5px;
}
#city-info p{
    /* color: red; */
    font-size: 1.2rem;
    font-weight: 600;
}
img{
    width: 150px;
    max-width: 100%;
}
.status{
    display: flex;
    align-items: center;
}
.status img{
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    
}